* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 5.2rem;
  height: 100vh;
  padding: .725rem 1.45rem 1.45rem 1.45rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: .75rem;
  align-items: center;
  box-shadow: 6px 0px 4px 0px #00000040;
}

.sidebar .user-container {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-items: center;
}

.sidebar .user-container p {
  font-size: 0.27rem;
  color: #fff;
}

.sidebar .user-container img {
  width: 2.7rem;
  height: 2.7rem;
  border: 3px solid var(--secondary-color);
  border-radius: 9px;
}

.sidebar .user-container h3 {
  font-size: .37rem;
  color: #fff;
}

.sidebar .user-container p.since {
  display: flex;
  align-items: center;
  font-size: .23rem;
  gap: 5px;
}

.sidebar .like-container {
  display: flex;
  flex-direction: row;
  gap: .45rem;
}

.sidebar .like-container .liked,
.sidebar .like-container .likes {
  width: 1.55rem;
  height: 1rem;
  background: var(--secondary-color);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .like-container .liked p,
.sidebar .like-container .likes p {
  font-size: .27rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar .like-container .liked p span.like-number,
.sidebar .like-container .likes p span.like-number {
  font-size: .4rem;
  font-weight: 700;
}

.sidebar .avaliation {
  font-size: .30rem;
  color: #39A6FF;
  cursor: pointer;
  transition: all .3s ease;
}

.sidebar .avaliation:hover {
  color: #338fda;
}

.sidebar .icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidebar .icons svg {
  font-size: .5rem;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
}

.sidebar .icons svg:hover {
  color: #acacac;
}