/*
Link FIGMA:
https://www.figma.com/design/4u9bHWXwfCMDqh1eTTrBP7/Project-aluCar?node-id=0-1&p=f&t=xZaMLFbbOXp1deXm-0
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: 'Outfit';
    src: url(/Fonts/Outfit/Outfit-VariableFont_wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Designer';
    src: url(/Fonts/designer_2/Designer.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-font-family: 'Outfit', sans-serif;
    --secondary-font-family: 'Designer';
    --container-width: 100vw;
    --regra-disposicao-grid-items: min(100vw/2, max(167px, 100vw/6));
    --regra-disposicao-flex-items: min(100vw/3, max(5rem, 100vw/3));
    --primary-color: #ffa733;
    --secondary-color: #21201e;
    --tertiary-color: #137385;
    --quaternary-color: #ffffff;
    --fifth-color: #858585;
    font-size: var(--rem-responsive-font-size);
}

html {
    --rem-responsive-font-size: 16px;
    font-family: var(--primary-font-family);
    font-size: var(--rem-responsive-font-size);
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.flexbox_container { box-sizing: border-box; display: flex; width: var(--container-width); margin: 0 auto;}
.flexbox_simple_container { box-sizing: border-box; display: flex; margin: 0 auto;}
.centralize_flexbox_vertical_items {flex-flow: column wrap;align-items: center;justify-content: center;}
.centralize_flexbox_horizontal_items {flex-flow: row wrap;align-items: center;justify-content: center;}
.justify_flexbox_horizontal_items { flex-flow: row wrap; align-items: center; justify-content: space-around;}
.justify_flexbox_vertical_items {  flex-flow: column wrap; align-items: center;  justify-content: space-around;}


.grid_container { box-sizing: border-box; display: grid; width: var(--container-width); margin: 0 auto;}


.block_container {box-sizing: border-box;display: block; width: var(--primary-container-width); margin: 0 auto;}
.relative_container {position: relative;}


@media (min-width: 0px) and (max-width: 219px) { html{--rem-responsive-font-size: 8px}; }
 @media (min-width: 220px) and (max-width: 264px) { html{--rem-responsive-font-size: 10px}; }
 @media (min-width: 265px) and (max-width: 299px) { html{--rem-responsive-font-size: 12px}; }
 @media (min-width: 300px) and (max-width: 369px) { html{--rem-responsive-font-size: 14px}; }
 @media (min-width: 370px) and (max-width: 405px) { html{--rem-responsive-font-size: 16px}; }
 @media (min-width: 406px) and (max-width: 425px) { html{--rem-responsive-font-size: 16px}; }
 @media (min-width: 426px) and (max-width: 500px) { html{--rem-responsive-font-size: 18px}; }
 @media (min-width: 501px) and (max-width: 600px) { html{--rem-responsive-font-size: 20px}; }
 @media (min-width: 601px) and (max-width: 700px) { html{--rem-responsive-font-size: 22px}; }
 @media (min-width: 701px) and (max-width: 900px) { html{--rem-responsive-font-size: 24px}; }
 @media (min-width: 901px) and (max-width: 1100px) { html{--rem-responsive-font-size: 26px}; }
 @media (min-width: 1101px) and (max-width: 1300px) { html{--rem-responsive-font-size: 28px}; }
 @media (min-width: 1301px) and (max-width: 1500px) { html{--rem-responsive-font-size: 30px}; }
 @media (min-width: 1501px) and (max-width: 1700px) { html{--rem-responsive-font-size: 32px}; }
 @media (min-width: 1701px) and (max-width: 1900px) { html{--rem-responsive-font-size: 34px}; }
 @media (min-width: 1901px) and (max-width: 2100px) { html{--rem-responsive-font-size: 36px}; }
 @media (min-width: 2101px) and (max-width: 2300px) { html{--rem-responsive-font-size: 38px}; }
 @media (min-width: 2301px) and (max-width: 2500px) { html{--rem-responsive-font-size: 40px}; }
 @media (min-width: 2501px) and (max-width: 2700px) { html{--rem-responsive-font-size: 42px}; }
 @media (min-width: 2701px) and (max-width: 2900px) { html{--rem-responsive-font-size: 44px}; }
 @media (min-width: 2901px) and (max-width: 3100px) { html{--rem-responsive-font-size: 46px}; }
 @media (min-width: 3101px) and (max-width: 6200px) { html{--rem-responsive-font-size: 48px}; }