<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Alucar - Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Project_Files/CSS/reset.css">
        <link rel="stylesheet" href="/Project_Files/CSS/patterns.css">
        <link rel="stylesheet" href="/Components/Login_Screen/component.css">
        <!-- Ícone.io -->
        <link rel="shortcut icon" href="/Project_Files/CSS/favicon.svg" type="image/x-icon">
        <link rel="icon" type="image/svg" sizes="32x32" href="/Project_Files/CSS/favicon.svg">
</head>
<body>
    <div>aa</div>
</body>
</html>