  #involucrum {
    font-family: var(--primary-font-family);
    background-color: #f8f8f8;
    color: var(--secondary-color);
    height: 26rem;
  }


  .how-it-works {
    text-align: center;
    padding: 1.3rem 0.6rem;
  }

  .how-it-works h1 {
    margin-top: 2.3rem;
    font-family: var(--primary-font-family);
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 0.33rem;
    text-transform: uppercase;

  }

  .how-it-works .subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1.3rem;
    letter-spacing: 0.5px;
  }

  .steps {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .step {
    max-width: 10rem;
    text-align: center;
  }

  .icon-wrapper {
    width: 3.3rem;
    /* Certifique-se de que o tamanho combina com o círculo */
    height: 3.3rem;
    margin: 0 auto 0.7rem;
    display: flex;
    /* Ativa flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    position: relative;
    /* Necessário para o círculo giratório */
  }

  .icon-wrapper .circle {
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    border: 2px dashed var(--secondary-color);
    animation: rotate 20s linear infinite;
  }

  .icon-wrapper.blue .circle {
    border-color: var(--tertiary-color);
  }

  .icon-wrapper.black .circle {
    border-color: var(--secondary-color);
  }

  .icon-wrapper.orange .circle {
    border-color: var(--primary-color);
  }

  .icon-wrapper img {
    width: 3rem;
    /* Ajuste as dimensões conforme necessário */
    height: 3rem;
    border-radius: 50%;
    /* Faz com que a imagem fique circular */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço sem distorção */
    position: relative;
    /* Garante que a imagem esteja dentro do wrapper */
    z-index: 2;
    /* Garante que fique acima do círculo giratório */
    left: 1px;
  }


  .step h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.33rem;
  }

  .step p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
  }

  /* Animação */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }