/* Variáveis de cores */
:root {
    --primary-color: #ffaa00;
    --secondary-color: #21201e;
    --background-color: #ffffff;
    --accent-color: #db1010;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    /* background: var(--accent-color); */
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Depoimentos */
  .testimonials {
    background: #ec0707;
    padding: 3rem 1rem 30rem 1rem;
    text-align: center;
    border-bottom: 4px solid var(--primary-color);
  }
  
  .testimonials h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  
  .testimonials p {
    color: #555;
    font-size: 1rem;
  }
  
  /* Rodapé */
  .footer {
    background: var(--background-color);
    color: var(--secondary-color);
    padding: 2rem 1rem;
    margin-top: auto;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .logo-links {
    flex: 1;
    min-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
  }
  
  .logo h2 {
    font-size: 24px;
    color: var(--primary-color);
  }
  
  .social-media a {
    margin: 0 0.5rem;
    color: var(--secondary-color);
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-media a:hover {
    color: var(--primary-color);
  }
  
  .useful-links, .contact-info {
    flex: 1;
    min-width: 250px;
  }
  
  .useful-links h3, 
  .contact-info h3 {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  
  .useful-links ul {
    list-style: none;
  }
  
  .useful-links li {
    margin-bottom: 0.5rem;
  }
  
  .useful-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .useful-links a:hover {
    color: var(--primary-color);
  }
  
  .contact-info form {
    display: flex;
    gap: 0.5rem;
    
  }
  
  .contact-info input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-info button {
    background: var(--primary-color);
    border: none;
    color: var(--background-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .contact-info button:hover {
    background: #cc8800;
  }
  
  .contact-info a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--secondary-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    
  }
  
  .contact-info a:hover {
    color: var(--primary-color);
  }
  
  .contact-info i {
    font-size: 1.2rem;
    color: var(--primary-color);
  }
  
  
  .footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    background: var(--secondary-color);
    color: var(--background-color);
    padding: 1rem;
    border-top: 4px solid var(--primary-color);
  }
  
  /* Botão "Voltar ao Topo" */
  .back-to-top {
    position: fixed;
    bottom: 8%;
    right: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    background: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    transition: background 0.3s, color 0.3s;
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background: var(--primary-color);
    color: var(--background-color);
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .useful-links, .contact-info {
      text-align: center;
      align-items: center;
      
    }
  
    .useful-links a {
      font-size: 1rem;
      margin-bottom: 1rem;
      
      
    }
    .contact-info a {
      justify-content: center; /* Centraliza os ícones e textos em telas menores */
      text-align: center; /* Alinha o texto centralmente */
    }
  
  }
  
  
  @media (max-width: 480px) {
    .footer-bottom {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
  