@font-face {
  font-family: 'Outfit1';
  src: url('./assets/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit2';
  src: url('./assets/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

#link {
  font-size: 1em;
  font-family: 'Outfit1', sans-serif;
}

#dropdownUser {
  font-size: 0.85em;
  font-family: 'Outfit2', sans-serif;
}

#dropdownNotif {
  font-size: 0.85em;
  font-family: 'Outfit1', sans-serif;
  background-color: #E4E4E4;
}

#dropdownNotif p {
  font-size: 0.85em;
  font-family: 'Outfit1', sans-serif;
}

#btn1, #btn2 {
  font-size: 0.85em;
  font-family: 'Outfit2', sans-serif;
  padding: 10px 20px;
  
}

#btn2 {
  background-color: #FFA733;
  color: white;
}

#btn2:hover {
  background-color: rgb(228, 136, 16);
}

#btn1:hover {
  background-color: rgba(231, 231, 231);
}

@media (max-width: 991px) {
  #navbar-nav {
      flex-direction: column;
      justify-content: start !important; 
  }

  #menuLinks {
      display: flex;
      justify-content: start !important;
  }

  #btnLinks {
    display: flex;
    justify-content: start !important;
  }

  #responsiveDropdown {
      position: relative !important;
      margin-bottom: 10px !important;
      width: fit-content !important;
      margin-top: 1px !important;
  }
}