#link {
  font-size: 1em;
  font-family: var(--primary-font-family);
}

#dropdownUser {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
  font-weight: 600;
}

#dropdownNotif {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
  background-color: #E4E4E4;
}

#dropdownNotif p {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
}

#btn1, #btn2 {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
  padding: 10px 20px;
  
}

#btn1 {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

#btn2 {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

#btn2:hover {
  background-color: var(--primary-color);
}

#btn1:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

@media (max-width: 991px) {
  #navbar-nav {
      flex-direction: column;
      justify-content: start !important; 
  }

  #menuLinks {
      display: flex;
      justify-content: start !important;
  }

  #btnLinks {
    display: flex;
    justify-content: start !important;
  }

  #responsiveDropdown {
      position: relative !important;
      margin-bottom: 10px !important;
      width: fit-content !important;
      margin-top: 1px !important;
  }
}