#link {
  font-size: 1em;
  font-family: var(--primary-font-family);
}

#btn1, #btn2 {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
  font-weight: 600;
  padding: 10px 20px;
}

#btn1 {
  background-color: var(--secondary-color);
  border: none;
}

#btn2 {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border: none;
}

#link:hover {
  color: #FFA733;
}

#btn2:hover {
  background-color: rgb(228, 136, 16);
}

#btn1:hover {
  background-color: rgb(33, 32, 30, 0.8);
}

@media (max-width: 991px) {
  #navbar-nav {
      flex-direction: column;
      justify-content: center !important; 
  }

  #menuLinks {
      display: flex;
      justify-content: center !important;
  }

  #menuLinks ul {
      display: flex;
      align-items: center !important;
  }

  #btnLinks {
    display: flex;
    justify-content: center !important;
  }
}