a#link.nav-link {
  font-size: 0.7rem;
  color: black;
  font-family: var(--primary-font-family);
}

.nav-item{
  height: 1rem;
  width: 5rem;
}

#btn1, #btn2 {
  font-size: 0.85em;
  font-family: var(--primary-font-family);
  font-weight: 600;
  padding: 10px 20px;
}

#btnLinks{
  border: none!important;
}

#btn1 {
  background-color: var(--secondary-color)!important;
  color: white!important;
  border: none;
}

#btn2 {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border: none;
}

#link:hover {
  color: #FFA733;
}

#btn2:hover {
  background-color: rgb(228, 136, 16);
}

#btn1:hover {
  background-color: rgb(33, 32, 30, 0.8);
}

.text-nowrap{
  white-space: nowrap!important;
}

@media (max-width: 991px) {
  #navbar-nav {
      flex-direction: column;
      justify-content: space-evenly !important; 
  }

  #menuLinks {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly !important;
  }

  #menuLinks ul {
      display: flex;
      align-items: space-evenly !important;
  }

  #btnLinks {
    display: flex;
    justify-content: space-evenly !important;
  }
}