.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10.0625em;
  max-width: 83em;
  margin: -5em auto;

  background-color: #ffffff;
  box-shadow: 0px 4px 11.3px 0px #00000026;
  border-radius: 1.0625em;

  padding: 2em 1.5em;
  gap: 1em;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;

  width: 100%;
}

.search-select:focus {
  outline: none;
}

.search-input-container .search-label {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;

  flex-direction: column;
}

.search-input-container input {
  width: 100%;
  max-width: 428px;
  height: 49px;
  border-radius: 8px;
  background: #fcfcfc;
  border: 2px solid #f5f7f6;
  color: #858585;
}

.search-input-container input::placeholder {
  color: #858585;
}

.search-input-container input:focus {
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.search-content button.search-button {
  width: 8.25em;
  height: 3.0625em;
  background-color: #ffa733;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5em;
  border-radius: 8px;

  border: none;
  transition: background-color 0.3s;
}

.search-content button.search-button:hover {
  background-color: rgba(255, 167, 51, 0.89);
}

@media (max-width: 1368px) {
  .search-content {
    margin-inline: 1em;
  }
}

@media (max-width: 768px) {
  .search-content {
    margin-top: -2em;
  }
}
